REPLICATE_API_TOKEN=<REPLICATE_API_TOKEN>
OPENAI_API_KEY=<OPENAI_API_KEY>
# DigitalOcean Spaces Configuration
SPACES_KEY=<SPACES_KEY>
SPACES_SECRET=<SPACES_SECRET>
SPACES_REGION=<SPACES_REGION>
SPACES_BUCKET=<SPACES_BUCKET>
SPACES_ENDPOINT=<SPACES_ENDPOINT>

# PostgreSQL Database Configuration
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>

COLLECTOR_CONTRIB_IMAGE=otel/opentelemetry-collector-contrib:0.102.1
PROMETHEUS_IMAGE=quay.io/prometheus/prometheus:v2.52.0

PROMETHEUS_SERVICE_PORT=9090
PROMETHEUS_SERVICE_HOST=prometheus
PROMETHEUS_ADDR=${PROMETHEUS_SERVICE_HOST}:${PROMETHEUS_SERVICE_PORT}

OTEL_COLLECTOR_HOST=otelcol
OTEL_COLLECTOR_PORT_GRPC=4317
OTEL_COLLECTOR_PORT_HTTP=4318
OTEL_EXPORTER_OTLP_ENDPOINT=http://${OTEL_COLLECTOR_HOST}:${OTEL_COLLECTOR_PORT_GRPC}
